[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
langchain = "*"
langchain-openai = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
